@{
    ViewData["Title"] = "Caseitau - Home";
}

<div class="text-center">
    <h1 class="display-4">CaseItau - Fundos de investimento</h1>
    <p>@Html.ActionLink("Consultar os fundos de investimentos", "Index", "Fundo").</p>
</div>
