################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/CaseItau/FileContentIndex
/.vs/CaseItau/config/applicationhost.config
/.vs/CaseItau/DesignTimeBuild
/.vs/CaseItau/DesignTimeBuild/.dtbcache.v2
/.vs/CaseItau/v16
/.vs/CaseItau/v16/.suo
/.vs/CaseItau/v17
/.vs/CaseItau/v17/.futdcache.v2
/.vs/CaseItau/v17/.suo
/.vs/CaseItau/v17/DocumentLayout.json
/.vs/CaseItau/v17/HierarchyCache.v1.txt
/.vs/ProjectEvaluation
/.vs/ProjectEvaluation/caseitau.metadata.v8.bin
/.vs/ProjectEvaluation/caseitau.projects.v8.bin
/.vs/ProjectEvaluation/caseitau.strings.v8.bin
/CaseItau.API/bin/Debug/net8.0
/CaseItau.API/obj/Debug
/CaseItau.Domain/obj/Debug/net8.0
/CaseItau.Domain/bin/Debug/net8.0
/CaseItau.Repository/bin/Debug/net8.0
/CaseItau.Repository/obj/Debug/net8.0
/CaseItau.Service/bin/Debug/net8.0
/CaseItau.Service/obj/Debug/net8.0
/CaseItau.Web/bin/Debug/net8.0
/CaseItau.Web/obj/Debug/net8.0
